* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    text-align: center;
    background-color: black;
    opacity: 0.9;
}


/* Header */
nav {
    height: 69px;    
    z-index: 1;
    border-bottom: 1px solid seashell;
    width: 100%;
    display: flex;
    right: 0px;
    left: 0px;
    justify-content: space-between;
}

.menu{
    display: flex;
}

ul{
    list-style-type: none;
}

li{
    padding: 1px 20px;
    text-decoration: underline;
}

li:hover{
    cursor: pointer;
}

#logo {
    margin-left: 10px;
    height: 50px;
    width: 157px;
    padding-top: 9px;
}

/* section header */

.header {
    background-image: url(./img/img-mission-background.jpg);
    width: 1200px;
    margin: 0 auto;
    height: 700px;
    display: grid;
}

.container {
    align-content: center;
    margin-top: calc(100%/5);
    height: calc(100%/4);
}


/* section Imagen-text */

.article {
    width: 1000px;
    margin: 70px auto;

}

.container-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img {
    width: 300px;
    height: 200px;
}

/* Location */

.location {
    background-image: url(./img/img-locations-background.jpg);
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    align-content: center;
}

.locations {
    background-color: transparent;
}

.container-location {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: center;
    gap: 40px;
    opacity: 1;
    background-color: transparent;
}

.panel-location {
    width: 300px;
}

/* Footer */
.footer {
    display: flex;
    align-content: start;
    margin-left: 20px;
}